.modalImagenPersonaje {
    display: none;
}

.modal-content {
    background: #16222A;
    background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
    background: linear-gradient(59deg, #3A6073, #16222A);
    color: white;
}

.modal-header,
.modal-footer {
    border-bottom: none;
    border-top: none;
}

// .dropdown-item.active {
//     background-color: #16222A !important;
// }