<footer class="mainfooter" role="contentinfo">
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <!--Column1-->
                    <div class="footer-pad">
                        <h4>Directorio del sitio</h4>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#"></a>
                            </li>
                            <li><a href="#">Centro de pagos</a></li>
                            <li><a href="#">contactos</a></li>
                            <li><a href="#">Formulario</a></li>
                            <li><a href="#">Noticias</a></li>
                            <li><a href="#">PQRs</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <!--Column1-->
                    <div class="footer-pad">
                        <h4>Contactos</h4>
                        <ul class="list-unstyled">
                            <li><a href="#">Tutoriales</a></li>
                            <li><a href="#">Accesibilidad</a></li>
                            <li><a href="#">Politicas</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <!--Column1-->
                    <div class="footer-pad">
                        <h4>Adicionales</h4>
                        <ul class="list-unstyled">
                            <li><a href="#">Nuevos Post</a></li>
                            <li><a href="#">palabras publicas</a></li>
                            <li><a href="#">Quienes somos</a></li>
                            <li><a href="#">Preguntas frecuentes</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <h4>Nuestras Redes</h4>
                    <ul class="social-network social-circle">
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 copy">
                    <p class="text-center">&copy; Copyright 2020 - <a href="https://www.newshore.es/" target="_blanck">NewShore</a> All rights reserved.</p>
                </div>
            </div>


        </div>
    </div>
</footer>